.main {
    height: 100vh;
    width: 100vw;
}

.left-side {
    display: inline-block;
    width: 40vw;
    height: 100%;
    background-color: white;
    border-right: 1px solid #e1e1e1;
}

.right-side {
    display: inline-block;
    width: 60vw;
    height: 100%;
    background-color: white;
}
